* {
    font-family: "Playfair Display", serif;
}

.header{
    background-color: white;
}
.header_inner{
    border-bottom: gray 0.5px solid;
    height: 100px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
}
.header_logo{
    color: #deb887;
    font-size: 40px;
    border: none;
    background-color: transparent;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title_box{
    padding-top: 60px;
    text-align: center;
    font-size: 30px;
    color: #deb887;
}
.flash_message__box{
    height: 50px;
    width: 60%;
    margin: 0 auto;
    text-align: left;
    }

.message-info{
    color: red;
    font-size: 20px;
    font-weight: bold;
}


