body{
    background-color: #FAEBD7;
}
.flash_message__box {
    background-color: #FAEBD7;
}

.login-button{
    background-color: #F5F5F5;
    color: #8B4513;
    border: #8B4513 0.5px solid;
    border-radius: 3px;
    padding: 0 10px;
    cursor: pointer;
    margin-right: 30px;
}
.title_box {
    background-color: #FAEBD7;
}

.register-box{
    margin: 0px auto;
    padding-top: 20px;
    width: 60%;
    background-color: white;
    border-radius: 5px;
}
p{
    margin-bottom: 3px;
    font-size: 25px;
}
.register-form__item{
    color: #deb887;
    width: 70%;
    margin: 0px auto 30px auto;
}
.register-form__input{
    background-color: #F5F5F5;
    width: 100%;
    height: 50px;
    border: none;
    color: #deb887;
    padding-left: 20px;
}
::placeholder{
    color: gray;
}
.error-message__box {
    height: 30px;
    color: red;
}

.input-error {
    background-color: #FFE4E1;
    border: 1px solid #ff0000;
    outline: none;
}
.button__inner{
    text-align: center;
    padding-bottom: 10px;
    
}
.button__submit{
    border: none;
    border-radius: 3px;
    background-color: #deb887;
    padding: 10px 20px;
    cursor: pointer;
}
